

.contact {
    /* background-color: #6a9ac4; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact_box {
    /* width: clamp(100px, 90%, 1000px); */
    margin-top: 80px ;
    margin-bottom: 80px ;
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact_links, .contact_form_wrapper {
    width: 50%;
    padding: 5% ;
  }
  
  
  .contact_links {
    background-color: #431f1f;
    background:
      radial-gradient(
        circle at 55% 92%, #ff3f3fa5 0 12%, transparent 12.2%
      ), 
      radial-gradient(
        circle at 94% 72%, #ff3f3f97 0 10%, transparent 10.2%
      ), 
      radial-gradient(
        circle at 20% max(78%, 350px),#ff3f3f65 0 7%, transparent 7.2%
      ), 
      radial-gradient(
        circle at 0% 0%, #ff3f3f4e 0 40%, transparent 40.2%
      ), 
      #780000;
    border-radius: 10px 0 0 10px;
  }
  
  .contact_form_wrapper {
    /* background-color: #c00000; */
    border-radius: 0 10px 10px 0;
    border: 1px solid gray;
  }
  
  @media only screen and (max-width: 800px) {
    .contact_links, .contact_form_wrapper {
      width: 100%;
    }
    
    .contact_links {
      border-radius: 10px 10px 0 0;
    }
    
    .contact_form_wrapper {
      border-radius: 0 0 10px 10px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .contact_box {
      width: 95%;
      margin: 8% 5%;
    }
  }
  
  .contact_heading {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: clamp(30px, 6vw, 60px);
    letter-spacing: 2px;
    text-align: center;
    transform: scale(.95, 1);
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  
  .link {
    margin: 10px;
    cursor: pointer;
  }
  
  .link img {
    width: 45px;
    height: 45px;
    transition: 0.2s;
    user-select: none;
  }
  
  .link img:hover {
    transform: scale(1.1, 1.1);
  }
  
  .link img:active {
    transform: scale(1.1, 1.1);
    
  }
  
  .form_item {
    position: relative;
  }
  
  .form_label, .form_input, .form_textarea {
    font-family: 'Poppins', sans-serif;
  }
  
  .form_label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
  }
  
  .form_input, .form_textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
  }
  
  /* input:focus+label, 
  input:valid+label, 
  textarea:focus+label, 
  textarea:valid+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -20px;
    transition: all .225s ease;
  }
   */
  .submit_btn {
    background-color: #e50a0a;
    width: 100%;
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-family: "Poppins",sans-serif;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
  }
  
  .submit_btn:hover {
    transform: scale(1.1, 1.1);
  }
  
  .submit_btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
  }
  
  @media only screen and (max-width: 800px) {
    .contact_heading {
      font-size: clamp(40px, 10vw, 60px);
    }
  }
  
  @media only screen and (max-width: 400px) {
    .contact_heading {
      font-size: clamp(30px, 12vw, 60px);
    }
    
    .links {
      padding-top: 30px;
    }
    
    .links  img {
      width: 38px;
      height: 38px;
    }
  }
  