.product_img{
    margin: auto;
    /* width: 200px ; */
    padding-top:10px ;
    padding-bottom:10px ;
}
.product_img img{
    object-fit: contain;
    width: 200px !important;
}
.card_bottom{
    position: relative;
    border: 0;
    background-color: rgb(236, 236, 242);
    padding: 25px 15px ; 
}
.add_icon{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -26%;
    background-color: #BC0000;
    width:40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid white;
    cursor: pointer;
    
}

.add_icon svg{
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 30px;
   
}
.product_name, .product_price{
    margin: 0;
}
.product_price{
    color: #BC0000;
    background-color: white;
    border-radius: 4px;
    padding: 2px 8px;
}
.view_button{
    border: 0;
    background-color: #BC0000;
    color: white;
}